public net.minecraft.client.gui.screen.inventory.ContainerScreen func_146977_a(Lnet/minecraft/inventory/container/Slot;)V # drawSlot
public net.minecraft.client.gui.screen.inventory.ContainerScreen func_195362_a(Lnet/minecraft/inventory/container/Slot;DD)Z # isSlotSelected

#public net.minecraft.client.gui.inventory.GuiContainerCreative$ContainerCreative
#public net.minecraft.client.gui.inventory.GuiContainerCreative$CreativeSlot
#public net.minecraft.client.gui.inventory.GuiContainerCreative$CreativeSlot field_148332_b # slot
